body{
    font-family: "times new roman";
    line-height: 1.4;
    background-color: lightblue;
    width: 500px;
    margin: auto;
  }
  form{
    background: rgb(147, 5, 5, 0.2);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 500px;
    margin: auto;
  }
  .submit-button{
    width:100%;
      padding:0.5rem;
    background: red;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
  }
  .input-headings{
    margin: 0 auto 1.25rem auto;
    padding: 2.5rem;
  }
  .form-input{
    display: block;
   width: 90%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  header{
    text-align: center;
  }
  p{
    text-align: center;
  }